
html.space {
	background-image: url('../res/img/bg_2.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: white;
}

body.space {
	background-image: url('../res/img/bg_2.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: white;
}

body.gradient {
background: #7d7e7d; /* Old browsers */
background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
color: white;
}

body.game {
margin: 0 auto;
width: 1000px;
position: relative;
bottom: 150px;
background: #7d7e7d; /* Old browsers */
background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}

body.fixed_width {
	margin: 0 auto;
	width: 1000px;
	background-color: black;

}

li{
	display: inline;
	margin: 10px;
}

div.sidebar_right {
	background-color: black;
	float: right;
	position: relative;
	bottom: 110px;
	color: white;
	width:150px;
	height: 500px;
	border-radius: 0px;
}

div.below_sidebar {
	position: relative;
	left:870px;
	top:280px;
}

div.topbar {
	text-align: center;
	background-color: gray;
	color: white;
	position: fixed;
	top: 0px;
	width:848px;
	height: 100px;
	border-radius:5px;
	border:1px solid white;
}

div.content {
	color: white;
	line-height:2;
	font-family:"Futura";
	/*letter-spacing: 2px; */
	margin: 20px;
	margin-top: 250px;
	margin-right: 150px;
}

div.page_top {
	font-family:"Futura";
	font-size: 300%;

}

div.wide_margin {
	margin: 2px
}

.error {
	color: #ff3300;
}

.button{
	background-image:url('url-1.jpeg');
 	color:orange;
 	border-color:orange;
 	display:inline-block;
	min-width: 50px;
	width: 100px;
	padding:5px 5px;
 }

.metalbg{
	background-image:url('mesh.jpg');
	background-size:150px 500px;
	background-repeat:no-repeat;
}

.bb{
	color: orange;
	background-color: orange;
	border-color:orange;
	height: 5px;
}