
html.space {
	background-image: url('../res/img/bg_2.png');
}

input.long {
	width: 95%;
}

body.space {
	background-image: url('../res/img/bg_2.png');
	color: white;
	font-family:"DroidSansRegular";
}

body.gradient {
	background: #7d7e7d; /* Old browsers */
	background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
	color: white;
	font-family:"DroidSansRegular";
}

body.game {
	margin: 0 auto;
	width: 1000px;
	position: relative;
	bottom: 150px;
	color:white;
	font-family:"DroidSansRegular";

	background: #7d7e7d; /* Old browsers */
	background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}

body.fixed_width {
	margin: 0 auto;
	width: 1000px;
	background-color: black;
	font-family:"DroidSansRegular";
}

li.topbar{
	display: inline;
	margin: 10px;
}

li.even {
	list-style-type: none;
	background-color: #333333;
	text-indent: 5px;
	width: 500px;
	border-radius:5px;
	border:1px solid #F87431;
}
li.even:hover{
	border-color: #CE2029;
}
li.even:select{
	border-color: #f4f4f4;
}
li.odd {
	list-style-type: none;
	background-color: #666666;
	text-indent: 5px;
	width: 500px;
	border-radius:5px;
	border:1px solid #F87431;
}
li.odd:hover{
	border-color: #CE2029;
}
li.odd:select{
	border-color: #f4f4f4;
}

a {
	text-decoration: none;
}

div.sidebar_right {
	/*background-color: black;*/
	float: right;
	position: relative;
	left:2px;
	bottom: 110px;
	color: white;
	width:154px;
	height: 500px;
	border-radius: 0px;
}

div.below_sidebar {
	position: relative;
	left:870px;
	top:280px;
}

div.topbar {
	text-align: center;
	color: white;
	position: fixed;
	top: 0px;
	width:848px;
	height: 100px;
	border-radius:5px;
	border:1px solid white;
	background: #7d7e7d; /* Old browsers */
	background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
	font-family:"DroidSansRegular";
}

div.content {
	color: white;
	line-height:2;
	font-family:"DroidSansRegular";
	/*letter-spacing: 2px; */
	margin: 20px;
	margin-top: 250px;
	margin-right: 150px;
}

div.page_top {
	font-family:"DroidSansRegular";
	font-size: 300%;

}

div.wide_margin {
	margin: 2px
}

div.message_scrollbox {
	height:600px;
	width:400px;
	margin:0px;
	background:gray;
	overflow:auto;
}

div.delete_bg {
	background-color:gray;
	width:400px;
}

.error {
	color: #ff3300;
}

.button{
	background-image:url('url-1.jpeg');
	color:orange;
	border-color:orange;
	font-family:"Futura";
	display:inline-block;
	min-width: 50px;
	width: 100px;
	padding:5px 5px;
	font-family:"DroidSansRegular";
	margin: 5px;
}

.msg_button{
	background-image:url('url-1.jpeg');
	color:orange;
	border-color:orange;
	display:inline-block;
	min-width: 50px;
	width: 100px;
	padding:5px 5px;
	font-family:"DroidSansRegular";
	margin-top:15px;
	margin-left:23px;
}


.button:hover{
	border-color:#F87431;
	color:#F87431;
}

.buttonBig{
	background-image:url('url-1.jpeg');
	color:#F87217;
	border-color:#F87217;
	display:inline-block;
	min-width: 50px;
	width: 200px;
	padding:5px 5px;
	height:80px;
	font-size: 30px;
	border-radius: 20px;

}
.buttonBig:hover{
	border-color:orange;
	color:orange;
}

.metalbg{
	background-image:url('mesh.jpg');
	background-size:150px 500px;
	background-repeat:no-repeat;
}

.bb{
	color: orange;
	background-color: orange;
	border-color:orange;
	height: 5px;
}

.whr {
	color:white;
	background-color: white;
	border-color:white;
	height: 5px;
}


input[type=checkbox].css-checkbox {
	display:none;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:20px;
	height:15px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	float:right;
	margin:8px;
	vertical-align:middle;
	cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}

.css-label{
	background-image:url(../res/img/dark-check-orange.png);
}

/* animated spoiler CSS by Bloggersentral.com */
.spoilerbutton {
	background-image:url('url-1.jpeg');
	color:orange;
	border-color:orange;
	display:inline-block;
	min-width: 50px;
	width: 60px;
	height:25px;
	padding:5px 5px;
	font-family:"DroidSansRegular";
	display:block;
	margin:3px;
	display:inline;
	float:right;
}
.spoiler {
	overflow:hidden;
	background: black;
}
.spoiler > div {
	-webkit-transition: all 0.2s ease;
	-moz-transition: margin 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: margin 0.2s ease;
	margin:5px;
}

.spoilerbutton[value="Show"] + .spoiler > div {
	margin-top:-100%;
}
.spoilerbutton[value="Hide"] + .spoiler {
	padding:0px;
} 

div.logo{
	float: left;
	position: absolute;
	left: 10px;
	top: 4px;
}

.news{
	/*float: left;
	position: absolute;
	font-size: 15px;*/
	color: white;

}
.subnews{
	float: left;
	position: center;
	font-size: 10px;
	font-weight:bold;
}
.right{
	float: right;
	padding-right: 3px;
}

.fix_div{
	background-image:url('8bolt.jpeg');
	background-size:130px 65px;
	background-repeat:no-repeat;
	width: 130px;
	height: 65px;
	margin: 10px;
}

.info{
	background-color: black;
	border: 4px ridge orange;
	border-radius: 5px;
	color: orange;
	width:120px;
	height:170px;
	overflow:auto;
	font-size: 15px;
	word-wrap:break-word;
}
.title{
	background-color: black;
	border: 4px ridge orange;
	border-radius: 5px;
	color:orange;
	width:120px;
	margin:5px;
	padding: 3px;

}


}

.fix_div_cont{
	color: black;
	float: left;
	width:50px;
	margin-left: 2px;
	margin-right:2px;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on April 22, 2013 01:48:33 PM America/New_York */
@font-face {
    font-family: 'DroidSansRegular';
    src: url('DroidSans-webfont.eot');
    src: url('DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSans-webfont.woff') format('woff'),
         url('DroidSans-webfont.ttf') format('truetype'),
         url('DroidSans-webfont.svg#DroidSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DroidSansBold';
    src: url('DroidSans-Bold-webfont.eot');
    src: url('DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSans-Bold-webfont.woff') format('woff'),
         url('DroidSans-Bold-webfont.ttf') format('truetype'),
         url('DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
