{% extends "gamebase.html" %}
{% block body_all %}
{{ super() }}
<body>
	<div> {{num_troops}} </div>
	<form method="post">
		<input type="hidden" name="attack_id" value="{{attack_id}}"> <!-- hide this -->
		<input type="hidden" name="action" value="attack">
		<input type="submit" value="Attack">
	</form>
		<form method="post">
		<input type="hidden" name="attack_id" value="{{attack_id}}"> <!-- hide this -->
		<input type="hidden" name="action" value="retreat">
		<input type="submit" value="Retreat">
	</form>
</body>