{% extends "gamebase.html" %}

{% block body_all %}
{{ super() }}
<body>
	<form method="post">
		<br>
		<div class="buy_ship">
			Target:
		<select name="target">
			{% for tgt in users %}
			<option value={{tgt.username}}>{{tgt.username}}</option>
			{% endfor %}
		</select>
	</div>
		<br>

	{% for i in num_ships %}
		<div class="buy_ship">
			<img src="../res/img/used/{{ships[i].name}}.png" alt="{{ships[i].name}}" class="ship">
			<div>
				<table border="0">
				<tr><td><img src="../res/img/used/coin.png" alt= "Value:" width=20px height=20px></td><td>{{ships[i].cost}}</td></tr>
				<tr><td><img src="../res/img/used/shield.png" alt= "Armor:" width=20px height=20px></td><td>{{ships[i].armor}}</td></tr>
				<tr><td><img src="../res/img/used/mobility.png" alt= "Mobility:" width=20px height=20px></td><td>{{ships[i].mobility}}</td></tr>
				<tr><td><img src="../res/img/used/sword.png" alt= "Damage:" width=20px height=20px></td><td>{{ships[i].damage}}</td></tr>
				</table>
			</div>
		</div>
	{% endfor %}

		<button class="button" type="submit"> Attack
		<br>
	</form>
</body>
{% endblock %}