{% extends "base.html" %}

{% block header %}
	<style>
		a:link {color:#FF3800;}
		a:visited {color:#CE2029;}
		a:hover {color:#FF2800;}
		a:active {color:#E49B0F;}
		li {
			display: inline;
			margin: 30px;
		}
	</style>
{% endblock header %}

{% block body_all %}
<body class="space">
	<center>
		<br><br><br><br><br>
		<div>
			<li>
				<a href="/game">
					<button class="buttonBig" value="Submit">Play</button>
				</a>
			</li>
			<li>
	{% if user %}
		<a href="/logout">
			<button class="buttonBig" value="Submit">Logout</button>
		</a>
	{% endif %}
	{% if not user %}
		<a href="/login">
			<button class="buttonBig" value="Submit">Login</button>
		</a>
	{% endif %}
			</li>
			<li>
				<a href="/signup">
					<button class="buttonBig" value="Submit">Signup</button>
				</a>
			</li>
		</div>
	</center>
	<br><br><br>
	<marquee direction="right" scrolldelay="1" scrollamount="1"> <img src="../res/img/ships/EbonHawk_90.png"> </marquee>
</body>
{% endblock %}

