{% extends "gamebase.html" %}

{% block title %}Game Front{% endblock %}

{% block topbar %}
{{ super() }}
{% endblock %}

{% block sidebar %}
{{ super() }}
{% endblock %}

{% block below_sidebar %}
{% endblock %}
=======
<html>
{% block pagelayout %}{% endblock %}
</html>
=======

{% block content %}
<div class="message_scrollbox">
	<hr>
	{% for message in messages %}
	{{message.subject}}
	<input type="checkbox" class="message_checkbox" id="c1" name="cc" />
	<label for="c1">Check Box 1</label>
	<input class="spoilerbutton" type="button" value="Show" onclick="this.value=this.value=='Show'?'Hide':'Show';">
	<div class="spoiler"><div>
		{{message.content}}
	</div></div>
	<hr>
	{% endfor %}

</div>
{% endblock content %}
