<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>
<head>
	<link rel="shortcut icon" href="../res/img/logo_icon.ico">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<title>{% block title %}Space Game{% endblock %}</title>
</head>

<body class="game" >
	<div class="topbar">
		<div class="wide_margin">
		{% block topbar %}{% endblock %}
		</div>
	</div>
	<div class="sidebar_right">
		<div class="wide_margin">
			{% block sidebar %} {% endblock %}
		</div>
	</div>
	<div class="content">{% block content %}{% endblock %}</div>
</body>
</html>