{% extends "gamebase.html" %}

{% block title %}Game Home Page{% endblock %}

{% block topbar %}
{{ super() }}
{% endblock %}

{% block sidebar %}
{{ super() }}
{% endblock %}

{% block below_sidebar %}
{% endblock %}
<html>
{% block pagelayout %}{% endblock %}
</html>

{% block content %}
<script language="javascript">
	function check() {
		var checkboxes = new Array(); 
		checkboxes = document.getElementsByTagName("input");
		for (var i=0; i<checkboxes.length; i++)  {
			if (checkboxes[i].type == 'checkbox')   {
			checkboxes[i].checked = true;
			}
		}
	}
	function uncheck() {
		checkboxes = document.getElementsByTagName("input");
		for (var i=0; i<checkboxes.length; i++)  {
			if (checkboxes[i].type == 'checkbox')   {
			checkboxes[i].checked = false;
			}
		}
	}
</script>

<form method="POST">
	Messages

	<div class="delete_bg">
		<input type="button" class="msg_button" value="Select All" onclick="check()">
		<input type="button" class="msg_button" value="Deselect All" onclick="uncheck()">
		<input type="submit" class="msg_button" value="Delete Selected">
	</div>

	<div method="POST" class="message_scrollbox">
		<hr class="bb">
		{% for i in num_messages %}
		{{messages[i].subject}}
		<!-- Checkbox -->
		<input name="box_{{i}}" id="box_{{i}}" class="css-checkbox" type="checkbox" />
		<label for="box_{{i}}" name="lbl_{{i}}" class="css-label"></label>
		<!-- Hide/show message button -->
		<input class="spoilerbutton" type="button" value="Show" onclick="this.value=this.value=='Show'?'Hide':'Show';">
		<!-- Hidden/showable message -->
		<div class="spoiler"><div>
			{{messages[i].content}}
		</div></div>
		<hr>
		{% endfor %}
	</div>
</form>
{% endblock content %}
