{% extends "gamebase.html" %}

{% block title %}Game Home Page{% endblock %}

{% block topbar %}
{{ super() }}
{% endblock %}

{% block sidebar %}
{{ super() }}
{% endblock %}

{% block below_sidebar %}
{% endblock %}
<html>
{% block pagelayout %}{% endblock %}
</html>

{% block content %}
<form method="POST">
	<div class="delete_bg">
		<input type="submit" class="delete_button" value="Delete Selected">
	</div>
	<div method="POST" class="message_scrollbox">
		<hr class="bb">
		{% for i in num_messages %}
		{{messages[i].subject}}
		<!-- Checkbox -->
		<input name="box_{{i}}" id="box_{{i}}" class="css-checkbox" type="checkbox" />
		<label for="box_{{i}}" name="lbl_{{i}}" class="css-label"></label>
		<!-- Hide/show message button -->
		<input class="spoilerbutton" type="button" value="Show" onclick="this.value=this.value=='Show'?'Hide':'Show';">
		<!-- Hidden/showable message -->
		<div class="spoiler"><div>
			{{messages[i].content}}
		</div></div>
		<hr>
		{% endfor %}
	</div>
</form>
{% endblock content %}
