<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html class="space">
<head>
	<link rel="shortcut icon" href="../res/img/logo_icon.ico">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<title>{% block title %}Space Game{% endblock %}</title>
	{% block head %}{% endblock head %}
</head>

{% block body_all %}
<body class="game" >
	<div class="sidebar_right">
		<div class="wide_margin">
			{% block sidebar %}
			<div class="metalbg">
				<center>
					<hr class="bb">
					<a href="/logout">
						<button class="button" value="Submit">Logout</button>
					</a>
					<hr class="bb">
					<a href="/game">
						<button class="button" value="Submit">Home</button>
					</a>
					<a href="/game/attack">
						<button class="button" value="Submit">Attack</button>
					</a>
					<a href="/game/managestation">
						<button class="button" value="Submit">Upgrade</button>
					</a>
					<a href="/game/manageunits">
						<button class="button" value="Submit">Manage Units</button>
					</a>
					<a href="/game/buyunits">
						<button class="button" value="Submit">Train Units</button>
					</a>
								
					<hr class="bb">

					<div class="title"> Ongoing Attacks </div>
					

					<div method="POST" class="info">
						{% for i in num_attacks %}
						<br><span class="subnews">{{attacks[i].defender_name}}: {{attacks[i].num_troops}} return in {{times[i]}} seconds.</span>
				
						{% endfor %}
					
					</div>
					<hr class="bb">
				</center>
			</div>
			{% endblock sidebar %}
		

		</div>
	</div>
</body>	

<div class="content">{% block content %}{% endblock %}</div>
<div class="topbar">
	<div class="wide_margin">
		{% block topbar %}
		<a href="/"> 
			<div class="logo">
				<a href="/"> <img src="../res/img/logo.png" alt="Logo" width="150" height="90"> </a>
			</div>
		</a>
		<div class="page_top">
			Space Game
		</div>
		<br>
		<li class="topbar">Username: {{ username }}</li>
		<li class="topbar">Credits: {{ currency }}</li>
		<li class="topbar">Units: {{ units }}</li>
		{% endblock topbar %}
	</div>
</div>
</body>
{% endblock body_all %}
</html>
