<html>
{% block pagelayout %}
<head>
	<title>Text Sector</title>
	<link rel="shortcut icon" href="../res/img/logo_icon.ico">
	<link rel="stylesheet" type="text/css" href="style.css">
	{% block head %} default head text {% endblock %}
</head>

<body class="game" >
	<div class="topbar">
		<div class="wide_margin">
			{% block topbar %} default topbar text <br> {% endblock %}
		</div>
	</div>

	<div class="sidebar_right">
		<div class="wide_margin">
			{% block sidebar %} default sidebar text <br> {% endblock %}
		</div>
	</div>
{% block body %}
	default body content
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
</body>
{% endblock %}
</html>