{% extends "base.html" %}

{% block title %} Login {% endblock %}
{% block body %}
    <h1>Login</h1>
    <form method="post">
		<label>
			<div>Username:</div>
			<input type="text" name="username" value="{{username}}">
		</label>
		<label>
			<div>Password:</div>
			<input type="password" name="password">
		</label>
		<br>
		<span class="error">{{error}}</span>
		<br>

		<button type="submit" class="button">Login</button>
		<!-- <input type="submit"> -->
		</form>
    <style>
		a:link {color:#FF3800;}
		a:visited {color:#CE2029;}
		a:hover {color:#FF2800;}
		a:active {color:#E49B0F;}
	</style>
	<a href="/signup"> Sign Up </a>
	<br>
    <a href="../"> Return to Home </a>
{% endblock %}