{% extends "gamebase.html" %}

{% block title %}Manage Station{% endblock %}

{% block content %}
	Active Drones: {{user.drones}}
	<br>
	<br>
	Drone Effectiveness:
	<table border="1" width=140 style="color:orange;">
		<tr><td>0-100</td><td>+1.0</td></tr>
		<tr><td>100-200</td><td>+0.8</td></tr>
		<tr><td>200-300</td><td>+0.6</td></tr>
		<tr><td>300-700</td><td>+0.4</td></tr>
		<tr><td>700-1000</td><td>+0.3</td></tr>
		<tr><td>1000-2000</td><td>+0.1</td></tr>
		<tr><td>2000-7000</td><td>+0.05</td></tr>
		<tr><td>7000+</td><td>+0.01</td></tr>
	</table>
	<br>
	<form method="POST">
		<script type="text/javascript">
		function showValue(newValue)
		{
			document.getElementById("cost").innerHTML=newValue*35;
		}
		</script>
		Number of Drones:
		<input type="text" value="0" name="units" onchange="showValue(this.value)"> <span class="error">{{error}}</span>
		<br>
		Cost: <span name="cost" id="cost" value="10">0</span> credits
		<br>
		<input class="button" type="submit" value="Train">
	</form>
{% endblock content %}