{% extends "gamebase.html" %}

{% block title %}Change Password{% endblock %}

{% block topbar %}
{{ super() }}
{% endblock topbar %}

{% block sidebar %}
{{ super() }}
{% endblock sidebar %}

{% block below_sidebar %}
{% endblock below_sidebar %}
<html>
{% block pagelayout %}{% endblock pagelayout %}
</html>

{% block content %}
	<form method="post">
		<label>
			<div>Old Password:</div>
			<input type="password" name="old"> <span class="error">{{olderror}}</span>
		</label>
		<label>
			<div>New Password:</div>
			<input type="password" name="password"> <span class="error">{{passerror}}</span>
		</label>
		<label>
			<div>Confirm Password:</div>
			<input type="password" name="verify"> <span class="error">{{verifyerror}}</span>
		</label>
		<br>
		<input type="submit" class="button" value="Change Password">
		<span class="error">{{error}}</span>
	</form>
{% endblock %}