{% extends "base.html" %}

{% block title %}Signup{% endblock %}
{% block body %}
	<h1>Create a new account!</h1>
	<form method="post">
		<label>
			<div>Username:</div>
			<input type="text" name="username" value="{{username}}"> <span class="error">{{usererror}}</span>
		</label>
		<label>
			<div>Password:</div>
			<input type="password" name="password"> <span class="error">{{passerror}}</span>
		</label>
		<label>
			<div>Confirm Password:</div>
			<input type="password" name="verify"> <span class="error">{{verifyerror}}</span>
		</label>
		<label>
			<div>Email:</div>
			<input type="text" name="email" value="{{email}}"> <span class="error">{{emailerror}}</span>
		</label>
		<br>
		<input type="submit">
	</form>
	<style>
		a:link {color:#FF3800;}
		a:visited {color:#CE2029;}
		a:hover {color:#FF2800;}
		a:active {color:#E49B0F;}
	</style>
	<a href="../"> Return to Home </a>
{% endblock body %}