{% extends "base.html" %}

{% block body %}
	<form method="post">
		Create a new account!
		<label>
			<div>Username:</div>
			<input type="text" name="username" value="{{username}}"> <span class="error">{{usererror}}</span>
		</label>
		<label>
			<div>Password:</div>
			<input type="password" name="password"> <span class="error">{{passerror}}</span>
		</label>
		<label>
			<div>Confirm Password:</div>
			<input type="password" name="verify"> <span class="error">{{verifyerror}}</span>
		</label>
		<label>
			<div>Email:</div>
			<input type="text" name="email" value="{{email}}"> <span class="error">{{emailerror}}</span>
		</label>
		<br>
		<input type="submit">
	</form>

{% endblock body %}