{% extends "gamebase.html" %}

{% block title %}Purchase Units{% endblock %}


{% block head %}
{% endblock head %}

{% block content %}
<center>
	Available Ships
</center>
<br>
{% for ship in ships %}
<form method="POST" class="buy_ship">
	<div class="buy_ship">
		<img src="../res/img/used/{{ship.name}}.png" alt="{{ship.name}}" class="ship">
		<div class="buy_ship_button">
			<input class="button" type="Submit" value="Buy {{ship.name}}">
		</div>
		<div class="ship_stats">
			<table border="0">
				<tr><td><img src="../res/img/used/coin.png" alt= "Value:" width=20px height=20px></td><td>{{ships[i].cost}}</td></tr>
				<tr><td><img src="../res/img/used/shield.png" alt= "Armor:" width=20px height=20px></td><td>{{ships[i].armor}}</td></tr>
				<tr><td><img src="../res/img/used/mobility.png" alt= "Mobility:" width=20px height=20px></td><td>{{ships[i].mobility}}</td></tr>
				<tr><td><img src="../res/img/used/sword.png" alt= "Damage:" width=20px height=20px></td><td>{{ships[i].damage}}</td></tr>
			</table>
		</div>
		<input type="hidden" name="ship" value={{ship.name}}></input>
	</div>
</form>
{% if name==ship.name %}
<span class="error">{{error}}</span>
{% endif %}
<br>
{% endfor %}
{% endblock content %}